<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Document Clauses Viewer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<script>
    window.url = '<%= url %>'
    window.user = {
        sub: '<%= user_sub %>'
    };
</script>

<body>
    <div class="container">

        <div class="logon-info">
            <h1>Make Document Clauses Dataset</h1>
            <div class="user-container">
                <img class="candidate-picture" src="<%= picture %>" />
                <div class="user-info">
                    <p class="user-username">
                        <%= user_name %>
                    </p>
                    <p class="user-score">
                        <%= user_email %>
                    </p>
                </div>
            </div>
        </div>


        <div class="instructions">
            <h2>操作說明</h2>
            <p>1. 資料集中包含數篇文本，每篇文本包含數個子句，須從每篇文本中標註出情感子句與原因子句。其中若子句中出現了帶有情緒的詞彙，如開心、悲傷、憤怒等，稱為情感子句。子句中包含造成情感的原因稱為原因子句。</p>
            <p>2. 先判斷每個子句是否為情感子句，是的話選取認為的情緒分類，共分為6類。</p>
            <p>3. 若為情感子句，再判斷其有無對應的原因子句，點擊"+"添加原因句，並給出分是否較強較弱主要對應關係。情感子句可對應一或多個原因子句，同一句中可能為情感也為原因。每篇文本中至少包含一組情感與原因組合。</p>
            <ul>
                <li>較強對應：情感與特定原因之間有著清晰且強烈的聯繫。原因明確且直接導致了該情感的產生。</li>
                <li>較弱對應：情感和原因之間的連結不夠清晰或直接。原因對情感的影響或關聯性較不明顯或不強烈。</li>
            </ul>
            <p>4. 以下為6種情緒可對應的字詞做為參考：</p>
            <ul>
                <li>happiness: 激動, 自豪, 欣喜, 感謝, 開心, 感動, 笑, 讚揚, 尊敬, 高興, 幸運, 笑聲, 敬佩, 幸福, 心花怒放, 喜歡</li>
                <li>sadness: 心疼, 無奈, 傷心, 哭, 憂慮, 泣, 絕望, 痛不欲生, 後悔, 愧疚, 苦惱, 哽咽, 失落, 慚愧, 沉重, 壓抑, 心酸, 寂寞, 痛苦, 煎熬, 自責</li>
                <li>disgust 生不如死 沒有人性 懷疑 怨恨 不爽 鬱悶 疑惑 起疑 發愁 顧慮 不喜歡 煩 反感 厭惡 苦惱 不舒服</li>
                <li>surprise 驚詫 詫異 驚喜 吃驚 意外 震驚 驚訝 震撼</li>
                <li>fear 擔心 著急 心有餘悸 害怕 驚慌 焦慮 心急 難堪 嚇到 緊張 恐懼</li>
                <li>anger 氣 生氣 悲憤 憤恨 氣憤 暴躁 怒 衝動 火大</li>
            </ul>
            <p>5. 以下為範例：</p>
            <ul>
                <li>範例1：</li>
                <li>1 从长沙寄到广东佛山的电脑</li>
                <li>2 5天后竟变成了石头</li>
                <li>3 长沙的屈涓平就有这么窝心的遭遇</li>
                <li>4 而更让他恼火的是 angry, cause1：快递公司一直推诿：較強對應，cause2：只愿赔偿百来元：較弱對應</li>
                <li>5 快递公司一直推诿</li>
                <li>6 只愿赔偿百来元</li>
                <li>7 屈涓平一怒之下把湖南申通快递有限公司简称湖南申通告上了法庭</li>
                <li>8 今天上午</li>
                <li>9 长沙市雨花区人民法院公开开庭审理此案并做出了判决湖南申通在运输过程中</li>
                <li>10 造成电脑丢失</li>
                <li>12 需照电脑原价进行赔偿</li>

            </ul>
            <ul>
                <li>範例2：</li>
                <li>1 专家是摇蚊</li>
                <li>2 不咬人不传播疾病现在都是冬天了</li>
                <li>3 最低气温就5℃</li>
                <li>4 怎么还会有这么多蚊子呢</li>
                <li>5 徐先生和附近居民都很痛恨这些蚊子 angry cause1：担心这些蚊子会对他们的身体健康带来危害：較強對應</li>
                <li>6 担心这些蚊子会对他们的身体健康带来危害 fear cause1：担心这些蚊子会对他们的身体健康带来危害：較強對應</li>
                <li>7 昨天下午</li>
                <li>8 记者联系到南京市疾控中心的专家郑一平医生</li>
                <li>9 听完记者的描述后</li>
                <li>10 他表示在郝奶奶家中和小区内出现的这种蚊子叫摇蚊</li>
                <li>11 属于昆虫纲双翅目长脚亚科</li>
                <li>12 在每年的春夏之交和秋冬之交都是摇蚊出现的高峰期</li>

            </ul>
        </div>
        <div id="content"></div>

        <div class="pagination">
            <span id="prev" class="page-button">送出並前往上一頁</span>
            <span id="current-page" class="current-page"></span>
            <span id="total-pages" class="total-pages"></span>
            <span id="next" class="page-button">送出並前往下一頁</span>
            <span id="continue" class="page-button">送出並繼續作答</span>
        </div>
    </div>
    <script src="/js/script.js"></script>
</body>

</html>